<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>Entity Generator</nav>
    <section class="dashboard">
        <div id="adicionar"><button onclick="addEntityModal()">Adicionar Modelo +</button></div>
        <div id="groupEntities">
        </div>
    </section>

    <div id="modal">
        <div id="erro"></div>
        <form action="cadastramodelo" id="form" method="POST">
            <input id="nomemodelo" name="nomemodelo" required type="text" placeholder="Nome do modelo..." />
            <div class="row">
                <input name="nomecampo" class="nomecampo" required type="text" placeholder="Nome da propriedade..." />
                <select name="tipo">
                    <option value="string">String</option>
                    <option value="integer">Integer</option>
                    <option value="decimal">Decimal</option>
                    <option value="date">Date</option>
                </select>
            </div>
        </form>
        <div id="formoptions">
            <button type="button" onclick="addItem()">Adicionar Propriedade +</button>
            <input onclick="salvarEntity()" value="Salvar">
        </div>
    </div>

    <div id="modalEntity">
        <div id="nameEntity"></div>
        <div id="linkEntity"></div>
        <div id="content">
            Resultado:
            <div id="resultado"></div>
        </div>
        <button onclick="closeModal()" id="voltar">Voltar</button>
    </div>
        <!-- PRAGMA table_info(table_name); -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>